{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock title %}
    
{% block content %}
    <form method="POST" class="post_form" action="/std/list/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                {{student.id}}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Student Id:</label>
            <div class="col-sm-4">
                {{ Student.id }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Student Name:</label>
            <div class="col-sm-4">
                {{ Student.name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email Address:</label>
            <div class="col-sm-4">
                {{ Student.email }}
            </div>
        </div>

    </form>
{% endblock content %}
